@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
:root {
  --Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --Red: hsl(0, 100%, 66%);
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

main {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 100vh;
  margin: 50px auto;
}

.bg-image {
  background-image: url(./images/bg-main-mobile.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  position: relative;
}
.bg-image .card-back {
  background: no-repeat;
  position: absolute;
  width: 70%;
  height: 160px;
  top: 35px;
  right: 20px;
}
.bg-image .card-back-text {
  position: absolute;
  top: 105px;
  right: 50px;
  color: var(--White);
  font-size: 14px;
}
.bg-image .card-front {
  background: no-repeat;
  position: absolute;
  width: 70%;
  height: 160px;
  top: 125px;
  left: 30px;
}
.bg-image .card-front-text {
  position: absolute;
  top: 135px;
  left: 50px;
}
.bg-image .card-front-text .dot {
  height: 25px;
  width: 25px;
  background-color: var(--White);
  border-radius: 50%;
  display: inline-block;
}
.bg-image .card-front-text .empty-dot {
  height: 15px;
  width: 15px;
  border: 1px solid var(--White);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 35px;
}
.bg-image .card-number {
  position: absolute;
  top: 210px;
  left: 50px;
  color: var(--White);
  letter-spacing: 0.15rem;
  font-size: 16px;
}
.bg-image .user-name {
  position: absolute;
  bottom: -20px;
  color: var(--Light-grayish-violet);
  left: 50px;
  font-size: 10px;
}
.bg-image .date {
  position: absolute;
  bottom: -20px;
  right: 100px;
  color: var(--Light-grayish-violet);
  font-size: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form {
  margin: 50px 30px;
  font-size: 16px;
  width: 375px;
  background-color: var(--White);
}
form input {
  padding: 10px 20px;
  border: 1px solid var(--Light-grayish-violet);
  color: var(--Light-grayish-violet);
  width: 90%;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 15px;
}
form .error {
  font-size: 12px;
  color: var(--Red);
  display: none;
}
form .flex-message {
  display: flex;
}
form .flex-message .date-year-error {
  margin-left: 10px;
  margin-right: 10px;
}
form .small-input {
  width: 20%;
}
form .half-input {
  width: 45%;
  margin-left: 10px;
}
form .submit-btn {
  margin-top: 20px;
  padding: 20px;
  width: 90%;
  border: none;
  border-radius: 8px;
  color: var(--White);
  background-color: var(--Very-dark-violet);
  font-size: 18px;
  cursor: pointer;
}
form .succesful-sumbit {
  text-align: center;
  margin-right: 40px;
  padding: 20px;
  display: none;
}
form .succesful-sumbit .icon-complete {
  background-image: url(./images/icon-complete.svg);
  width: 80px;
  height: 80px;
  padding: 20px;
  margin: 10px auto;
}
form .succesful-sumbit h1 {
  padding: 15px;
  letter-spacing: 0.2rem;
}
form .succesful-sumbit .added-card {
  color: var(--Dark-grayish-violet);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main {
    flex-direction: row;
    width: 1100px;
  }
  main .bg-image {
    background-image: url(./images/bg-main-desktop.png);
    width: 30%;
    height: 600px;
  }
  main .bg-image .card-back {
    width: 90%;
    top: 300px;
    left: 200px;
  }
  main .bg-image .card-back-text {
    top: 370px;
    left: 430px;
  }
  main .bg-image .card-front {
    width: 90%;
    top: 120px;
    left: 100px;
  }
  main .bg-image .card-front-text {
    left: 130px;
  }
  main .bg-image .card-number {
    top: 220px;
    left: 106px;
  }
  main .bg-image .user-name {
    top: 250px;
    left: 120px;
  }
  main .bg-image .date {
    top: 250px;
    left: 320px;
  }
  main form {
    display: grid;
    place-items: center;
    height: 100vh;
    margin-left: 200px;
  }
  main form .submit-btn {
    margin-top: -400px;
    margin-left: -40px;
  }
}/*# sourceMappingURL=style.css.map */